[submodule "vendor/cloudinary/cloudinary_php"]
  path = vendor/cloudinary/cloudinary_php
  url = https://github.com/cloudinary/cloudinary_php.git

[submodule "vendor/cloudinary/transformation-builder-sdk"]
  path = vendor/cloudinary/transformation-builder-sdk
  url = https://github.com/cloudinary/transformation-builder-sdk.git

[submodule "vendor/guzzlehttp/guzzle"]
  path = vendor/guzzlehttp/guzzle
  url = https://github.com/guzzle/guzzle.git

[submodule "vendor/guzzlehttp/promises"]
  path = vendor/guzzlehttp/promises
  url = https://github.com/guzzle/promises.git

[submodule "vendor/guzzlehttp/psr7"]
  path = vendor/guzzlehttp/psr7
  url = https://github.com/guzzle/psr7.git

[submodule "vendor/monolog/monolog"]
  path = vendor/monolog/monolog
  url = https://github.com/Seldaek/monolog.git

[submodule "vendor/phpmailer/phpmailer"]
  path = vendor/phpmailer/phpmailer
  url = https://github.com/PHPMailer/PHPMailer.git

[submodule "vendor/psr/http-client"]
  path = vendor/psr/http-client
  url = https://github.com/php-fig/http-client.git

[submodule "vendor/psr/http-factory"]
  path = vendor/psr/http-factory
  url = https://github.com/php-fig/http-factory.git

[submodule "vendor/psr/http-message"]
  path = vendor/psr/http-message
  url = https://github.com/php-fig/http-message.git

[submodule "vendor/psr/log"]
  path = vendor/psr/log
  url = https://github.com/php-fig/log.git
